*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Outfit',sans-serif;
    background-color:hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    border: 1px solid red;
    font-size: 15px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid red;
    padding: 18px;
    border-radius: 17px;
    text-align: center;

}
.qr-code{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
    margin: 0;
}
.text-container{
    padding: 22px 10px;
}
.text-container h3{
    color:hsl(218, 44%, 22%);
    padding: 10px;
}
.text-container p{
    color: hsl(220, 15%, 55%)
}

